<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- scope="Singleton" -->

    <bean id="usuarios" class="clases.pojo.Usuarios" scope="prototype"></bean>
    <bean id="roles" class="clases.pojo.Roles" scope="prototype"></bean>
</beans>